
#myself{
     background-image:linear-gradient(red,orange,yellow,green,blue,indigo,violet);
    padding:20px;
    text-align: center;
}
#img1{
    border-radius:40%;
height:200px;
}
#sec2{
   background-image: linear-gradient(violet,purple);
    padding:35px;
    color:aliceblue;
     font-family: 'Birthstone', cursive;
    font-size:30px;
    text-align: center;
}
.menu{
    list-style: none;
    font-family:cursive;
    top:10px;
    z-index: 10;
    cursor:pointer;
    position:fixed;
    right:30px;

}

.links:hover{
    background-color:darkgreen;
    font-size:25px;
}
   

#reading{
    font-family: 'Lobster', cursive;
}
.links{
     padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    float:left;
}